name: update Translation

on:
  schedule:
    - cron: "10 */4 * * *"
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  download-translation:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: update version number
        run: |
          version=$(jq -r '.version' dnd-simplified-chinese-babele-patch/module.json)
          major=$(echo $version | cut -d '.' -f 1)
          minor=$(echo $version | cut -d '.' -f 2)
          patch=$(echo $version | cut -d '.' -f 3)
          patch=$((patch + 1))
          new_version="$major.$minor.$patch"
          jq --arg new_version "$new_version" '.version = $new_version' dnd-simplified-chinese-babele-patch/module.json > module.json.tmp
          mv module.json.tmp dnd-simplified-chinese-babele-patch/module.json

      - name: download translation from ParaTranz
        run: |
          curl -L -o "translation.zip" --header "Authorization: ${{ secrets.PARATRANZAPITOKEN }}" "https://paratranz.cn/api/projects/13245/artifacts/download"
          
          TARGET_DIR="dnd-simplified-chinese-babele-patch/translation/cn"
          BACKUP_DIR=$(mktemp -d)
          
          if [ -f "$TARGET_DIR/labels.json" ]; then
            cp "$TARGET_DIR/labels.json" "$BACKUP_DIR/"
          fi
          if [ -f "$TARGET_DIR/titles.json" ]; then
            cp "$TARGET_DIR/titles.json" "$BACKUP_DIR/"
          fi
          
          rm -rf "$TARGET_DIR"
          
          unzip -q -j translation.zip -d "$TARGET_DIR"
          rm -f translation.zip
          
          if [ -f "$BACKUP_DIR/labels.json" ]; then
            mv -f "$BACKUP_DIR/labels.json" "$TARGET_DIR/"
          fi
          if [ -f "$BACKUP_DIR/titles.json" ]; then
            mv -f "$BACKUP_DIR/titles.json" "$TARGET_DIR/"
          fi

      - name: trim mapping
        run: |
          for file in dnd-simplified-chinese-babele-patch/translation/cn/*.json; do
            filename=$(basename "$file")
            if [[ "$filename" == "labels.json" || "$filename" == "titles.json" ]]; then
              continue
            fi
            jq 'del(.mapping)' "$file" > "$file.tmp" && mv "$file.tmp" "$file"
          done

      - name: Commit & push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git status
          git add .
          git commit -am "Automated commit" || echo "No changes to commit"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
